.class-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../Image/bg.jpg);
  min-height: 50vh;
  background-position: center top;
  background-size: cover;
  color: white;
  position: relative;
}
.classList > h2 {
  font-size: 45px;
}
.class-container > div:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.class-container > div:nth-child(2) > h2 {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media only screen and (max-width: 767.98px) {
  .classList > h2 {
    font-size: 35px !important;
  }
}
@media only screen and (max-width: 575.98px) {
  .classList > h2 {
    font-size: 6.5vw !important;
  }
}
