.home-container {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../../Image/bg.jpg);
  height: 75vh;
  background-position: center top;
  background-size: cover;
  color: white;
}
.btn-1 {
  background-color: gold;
  border-radius: 0px;
  font-weight: 900;
  font-size: 18px;
  padding: 10px 50px;
  transition: all 0.5s;
}
.btn-1:hover {
  background-color: black;
  border: 1px solid white;
  color: gold;
  transform: translateX(10px);
}
.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 65vh;
}
.caption h1 {
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 40px;
}
.caption p {
  margin: 20px 0px;
}
