.btn-2 {
  background-color: gold;
  font-weight: 700;
  position: relative;
  top: -15px;
  border-radius: 0px;
  transition: all 0.7s;
}
.btn-2:hover {
  background-color: black;
  color: gold;
}
.img__box {
  min-height: 350px;
  object-fit: cover;
}
