.footer-container {
  background-color: black;
  color: white;
  min-height: 40vh;
}
.logo-after {
  color: white;
}
.logo-after::after {
  content: " X";
  color: gold;
}
.footer__col__2 > p:nth-child(1),
.footer__col__3 > p:nth-child(1),
.footer__col__4 > p:nth-child(1),
.footer__col__5 > p:nth-child(1) {
  font-weight: bold;
}
